[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
opencv-python = "*"
easydict = "*"
matplotlib = "*"
scipy = "*"
numpy = "*"
tensorflow-gpu = "==1.14.0"
Cython = "*"
Pillow = "*"

[dev-packages]

[requires]
python_version = "3.6"
